<div id="contents">
		<div>
			<div class="body" id="shop">
				
				<div id="sidebar">
					<div>
						<h5>Page en construction</h5>

						

						<ul class="posts">
							<li>
								{{!-- <span class="time"></span> --}}
								<p>
									<a href="/shop">
								</p>
							</li>
							
							
						</ul>
					</div>

					{{!-- <div>
						<h5>shop Categories</h5>
						<ul>
							<li>
								<a href="shop.html">Carved Creations</a>
							</li>
							<li>
								<a href="shop.html">Furniture</a>
							</li>
							<li>
								<a href="shop.html">Maintenance and Cleaning</a>
							</li>
							<li>
								<a href="shop.html">Innovations</a>
							</li>
							<li>
								<a href="shop.html">Modern And New</a>
							</li>
							<li>
								<a href="shop.html">Classic and Timeless</a>
							</li>
						</ul>
					</div> --}}
					{{!-- <div>
						<h5>Archives</h5>
						<ul>
							<li>
								<a href="shop.html">March 2023</a>
							</li>
							<li>
								<a href="shop.html">February 2023</a>
							</li>
							<li>
								<a href="shop.html">January 2023</a>
							</li>
							<li>
								<a href="shop.html">December 2023</a>
							</li>
							<li>
								<a href="shop.html">November 2023</a>
							</li>
							<li>
								<a href="shop.html">October 2023</a>
							</li>
						</ul>
					</div> --}}
				</div>
				<div id="main">
					<div class="viewer">
						{{#each articles}}
						<span class="time">\{{moment createDate format="DD-MM-YYYY"}}</span>
						<h3>{{this.title}}</h3>
						
						<div class="frame">
							<img src="{{this.image}}" alt="Img">
						</div>
						<p>
							{{this.content}}
						<em>{{this.price}}</em></p>
						{{!-- <a href="shop.html" class="more">Read More</a> <a href="shop.html" class="comments">0 Comments</a> --}}
						{{/each}}
					</div>
					<div id="pagination">
						<a href="/shop" class="previous">Précedent</a>
						<a href="/shop" class="next">Suivant</a>
						<ul>
							<li>
								Pages:
							</li>
							<li class="selected">
								<a href="/shop">1</a>
							</li>
							<li>
								<a href="/shop">2</a>
							</li>
							<li>
								<a href="/shop">3</a>
							</li>
							<li>
								<a href="/shop">4</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>